<html ng-app="socialize">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
    <title>Cadastrar:Socialize</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      angular.module("socialize", []);
    </script>
    <script src="script/usuctrl.js"></script>
  </head>
  
  <body style="padding-top:100px; " ng-controller="usuctrl">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form class="form-horizontal" role="form" name="cadastraUsuario">
              <div class="form-group">
                    <label for="txtnome" class="control-label">Nome</label>
                    <input type="name" class="form-control input-lg" id="txtnome" placeholder="Nome" ng-model="usuario.nome" ng-required="true">
                    <div style="color:#C42924;text-align: center;padding: 5px" ng-show="cadastraUsuario.nome.$error.required && !cadastraUsuario.nome.$dirty" class="alert alert-danger">Preencha o campo Nome!</div>
              </div>
              <div class="form-group has-feedback">
                    <label for="txtemail" class="control-label">E-mail</label>
                    <input type="email" class="form-control input-lg" id="txtemail"
                  placeholder="E-mail" ng-model="usuario.email">
              </div>
              <div class="form-group has-feedback">
                    <label for="txtsenha" class="control-label">Senha</label>
                    <input type="password" class="form-control input-lg" id="txtsenha"
                  placeholder="Senha" ng-model="usuario.senha">
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" ng-click="adicionarUsuario(usuario)">Criar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="footer navbar-fixed-bottom">
      <footer class="section section-primary">
        <div class="container" >
          <div class="row">
            <div class="col-sm-6">
                <h1>Socialize</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br>
                    <br>
                </p>
                <div class="row">
                    <div class="col-md-12 hidden-xs text-right">
                        <a href="#" class=".icon"><i class="fa fa-3x fa-fw fa-globe text-inverse"></i></a>
                        <a href="#" class=".icon"><i class="fa fa-3x fa-fw text-inverse fa-group"></i></a>
                        <a href="#" class=".icon"><i class="fa fa-3x fa-fw text-inverse fa-github-alt"></i></a>
                        <a href="#" class=".icon"><i class="fa fa-3x fa-fw hub text-inverse fa-paypal"></i></a>
                    </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>

</html>