<html ng-app="socialize">
	<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">

      <title>Pagina Inicial:Socialize</title>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript">
      angular.module("socialize", []);
      </script>
      <script src="script/usu"></script>
    </head>
   	<body style="background: #E6E6F2" ng-controller="usuctrl">
   		<div class="navbar navbar-default navbar-static-top" style="background: #207EC9;">
   			<div class="container" >
   				<div class="navbar-header">
   					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
	   					<span class="sr-only">Toggle navigation</span>
	   					<span class="icon-bar"></span>
	   					<span class="icon-bar"></span>
	   					<span class="icon-bar"></span>
   					</button>
   					<a class="navbar-brand" href="#" ><span>Socialize</span></a>
   				</div>
   				<div class="collapse navbar-collapse" id="navbar-ex-collapse">
   					<ul class="nav navbar-nav navbar-right">
   						<li><a href="#" style=" color:#FFFFFF">Página Inicial</a></li>
   						<li><a href="#" style=" color:#FFFFFF">Contatos</a></li>
                     <li class="dropdown" >
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" style=" color:#FFFFFF">Outros<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                           <li>
                              <a href="#">Convidar Amigos</a>
                           </li>
                           <li>
                              <a href="#">Minhas Configurações</a>
                           </li>
                           <li>
                              <a href="#">Meus Dados</a>
                           </li>
                           <li class="divider">
                           </li>
                           <li>
                              <a href="#" ng-click="sair()">Sair</a>
                           </li>
                        </ul>
                     </li>
   					</ul>
   				</div>
   			</div>
   		</div>
   		<div class="section">
   			<div class="container">
   				<div class="row" style="padding: 30px;">
   					<div class="col-md-12" style=" border: 0.5px black solid">
   						<div class="section"> 
   							<div class="container"> 
   								<div class="row"> 
   									<div class="col-md-12"> 
   										<h1 class="text-center">Textao da hora</h1> 
   									</div>
   								</div>
   								<div class="row"> 
   									<div class="col-md-offset-4 col-md-6"> 
   										<form role="form" name="textaoPost"> 
   											<div class="form-group"> 
   												<div class="input-group"> 
   													<textarea name="comentarios" class="form-control" id="txtcoment" placeholder="Faça seu textão..." ng-model="postagem.textao"></textarea> 
   													<button class="btn btn-default" type="submit" ng-click="postar()">Enviar</button>
   												</div>
   											</div>
   										</form>
   									</div>
   								</div>
   							</div>
   						</div>
   					</div>
   				</div>
   				<div class="row" style="margin-left: -100px; margin-right: -150px;">
   					<div class="col-md-4">
   						<ul class="lead list-group">
   							<li class="list-group-item">Cras justo odio</li>
   							<li class="list-group-item">Dapibus ac facilisis in</li>
   							<li class="list-group-item">Morbi leo risus</li>
   							<li class="list-group-item">Porta ac consectetur ac</li>
   							<li class="list-group-item">Vestibulum at eros</li>
   						</ul>
   					</div>
   					<div class="col-md-4" style="">
   					</div>
   					<div class="col-md-4">
   						<ul class="lead list-group">
	   						<li class="list-group-item">Cras justo odio</li>
	   						<li class="list-group-item">Dapibus ac facilisis in</li>
	   						<li class="list-group-item">Morbi leo risus</li>
	   						<li class="list-group-item">Porta ac consectetur ac</li>
	   						<li class="list-group-item">Vestibulum at eros</li>
   						</ul>
   					</div>
   				</div>
   			</div>
   		</div>
   		<footer class="section section-primary"> 
   			<div class="container"> 
   				<div class="row"> 
   					<div class="col-sm-6"> 
   						<h1>Footer header</h1> 
   						<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud</p>
   					</div>
   					<div class="col-sm-6"> 
	   					<p class="text-info text-right"> <br><br></p>
	   					<div class="row"> 
	   						<div class="col-md-12 hidden-lg hidden-md hidden-sm text-left"> 
	   							<a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> 
	   							<a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a> 
	   							<a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> 
	   							<a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a> 
	   						</div>
	   					</div>
	   					<div class="row"> 
	   						<div class="col-md-12 hidden-xs text-right"> 
	   							<a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> 
	   							<a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a> 
	   							<a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> 
	   							<a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a> 
	   						</div>
	   					</div>
   					</div>
   				</div>
   			</div>
   		</footer>
   	</body>
</html>